mymetadata
.checkstyle
.classpath
.project
.class
.pyc
.war
.zip
.rar
.tgz
*.iml
.settings/*
/indexes/*
/target/*
/target/
*/target/*
.project
.classpath
.settings
.project
.class
target
/logs/*
bin
.idea
.ckp
.tlog
.st
target/
/target/*
.iml
.idea
.class
